# Data Structure
1. What are data structures, and why are they important?
 - Data structures are specialized formats for organizing, managing, and storing data in a way that allows for efficient access and modification.
 -  They are important because they are efficient in data management,opmitization of algorithims, Scalability, Problem-Solving Flexibility, etc.
2. Explain the difference between mutable and immutable data types with examples?
 - A mutable data type is one whose value can be modified after it is created. example:- List
 - An immutable data type is one whose value cannot be changed after it is created. example Tuple
3. What are the main differences between lists and tuples in Python?
 - The first difference is that list are mutable and tuples are immutable
 - Secound difference is the syntax.
 - Third difference is that list are generally slower than tuples because they allow dynamic  and modification. While tuples are faster because they had a  samiplier internal structure due to immutability.
4. Describe how dictionaries store data.
 - A dictionary stores data in the form of key-value pairs , where:
 - Key : A unique identifier used to access the corresponding value.
 - Value : The data associated with the key.
Keys must be hashable (immutable types like strings, numbers, or tuples), while values can be of any type (mutable or immutable).

5. Why might you use a set instead of a list in Python?
 - In uniqueness od the elements like, automatically ensure that all elements are unique. If you attempt to add a duplicate element to a set, it will be ignored. Meanwhile, list allows the duplicating the elements.

6. What is a string in Python, and how is it different from a list?
 - A string in Python is a sequence of characters enclosed in single quotes (')and double quotes (").
 -  They are different in many ways like strings are immutable data typle, while list are mutable data type. Another difference difference is that string is the collection of character data type while list can collect any data type like interger float value, string, etc.

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integratity in several ways like by immutability that prevent accidental modification, Tuples Can Be Used as Keys in Dictionaries, etc.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table (also known as a hash map) is a data structure that provides efficient insertion, deletion, and lookup operations. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.
  - In Python, dictionaries (dict) are implemented using hash tables under the hood. A dictionary is essentially a collection of key-value pairs, where each key is mapped to a value. The hash table mechanism ensures that dictionary operations like adding, removing, and looking up elements are performed efficiently.

9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain elements of different data types.

10. Explain why strings are immutable in Python?
 - Strings are immutable in Python to ensure data integrity and efficiency . Once a string is created, its content cannot be changed. Any modification (e.g., replacing a character) creates a new string instead of altering the original.
11. What advantages do dictionaries offer over lists for certain tasks?
 - There are several advantages of dictionaries over lists like Faster data retrival, key-value association, efficient data oragnized, etc.
12. Describe a scenario where using a tuple would be preferable over a list?
 - tuple would be preferable over a list is when representing fixed, immutable data that should not be changed throughout the program's execution. For example, when storing geographical coordinates.

13. How do sets handle duplicate values in Python?
 - Sets in Python handle duplicate values by automatically eliminating them, ensuring that each element in the set is unique.
14. How does the “in” keyword work differently for lists and dictionaries?
 - The "in" keyword operates differently for lists and dictionaries in Python, primarily due to their underlying implementations. For lists, the "in" operator performs a linear search, checking each element sequentially until a match is found or the end of the list is reached. This results in a time complexity of O(n), where n is the number of elements in the list. In contrast, dictionaries use a hash table implementation, allowing for constant-time O(1) lookups on average, regardless of the dictionary's size. When using "in" with a dictionary, it checks for the presence of a key, not a value. This fundamental difference makes dictionaries significantly faster for membership testing, especially with large datasets
15. Can you modify the elements of a tuple? Explain why or why not?
 - No, because tuples in Python are immutable, which means you cannot directly modify their elements after creation.
16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary that contains other dictionaries as its values, creating a hierarchical or multi-level data structure. This allows for more complex and organized data representation.

17. Describe the time complexity of accessing elements in a dictionary?
 - The time complexity of accessing elements in a Python dictionary is typically O(1) on average, which means it takes constant time regardless of the dictionary's size.
18. In what situations are lists preferred over dictionaries?
 - Dictionaries are perferred in several sitution like ordered list, indexing, homogeneous data, etc.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- The unordered nature (or now, the ordered-but-not-indexed nature) of dictionaries is crucial for efficient data structure selection and manipulation in Python programming.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists and dictionaries in Python differ significantly in terms of data retrieval. Lists are ordered collections where elements are accessed by numerical indices, resulting in O(n) time complexity for lookups. This means search time increases linearly with the list's size. Dictionaries, on the other hand, use a hash table implementation, allowing for O(1) average time complexity for key-based lookups, regardless of the dictionary's size. This makes dictionaries significantly faster for retrieving specific elements, especially in large datasets.

In [2]:
#  Write a code to create a string with your name and print it.
a = "Hellow world"
print(a)

Hellow world

In [3]:
# Write a code to find the length of the string "Hello World".
a = "Hellow world"
print(len(a))

12

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
print(a[0:3])

Pyt

In [7]:
# Write a code to convert the string "hello" to uppercase.
a = "hello"
a.upper()

'HELLO'

In [8]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [11]:
# Write a code to create a list with numbers 1 to 5 and print it.
lst = []
for i in range(1,6):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5]

In [12]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [14]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [15]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [16]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [17]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

5

In [19]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [20]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup = ("apple","banana","kiwi")
print("kiwi" in tup)

True

In [21]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {"a","b","c"}
print(set)

{'b', 'c', 'a'}

In [22]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [23]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [24]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [26]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a = {
    "name" : "Ajay",
    "age" : 25,
    "city" : "Delhi"
}
print(a)

{'name': 'Ajay', 'age': 25, 'city': 'Delhi'}

In [27]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a = {'name': 'John', 'age': 25}
a["country"] = "USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a = {'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [29]:
 # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 a.pop("age")
 print(a)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
print("city" in a)

True

In [31]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = []
for i in range(1,6):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5]

In [32]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
lst = []
for i in range(5):
  lst.append(random.randint(1,100))
lst.sort()
print(lst)

[9, 26, 54, 59, 75]

In [33]:
# Write a code to create a list with strings and print the element at the third index.
lst = ["apple","banana","kiwi","orange","mango"]
print(lst[3])

orange

In [34]:
#  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#  Write a code to convert a list of strings into a set.
lst = ["cat", "dog", "bird"]
unique_elements = frozenset(lst)

print(unique_elements)

frozenset({'dog', 'bird', 'cat'})